* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
    background-image: url(../Pics/discord-wallpaper-9990285dd10a9d3bf657b80f7071366d.jpg);
    background-position: center;
    background-size: cover;
    background-size: 100%;
}

.navbar {
    background-color: #3E3E3E;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    justify-content: space-evenly;
}



.listt {
    list-style: none;
    padding: 30px;
    transition: 0.3s;

}

.logo {
    width: 200px;
    height: 100%;
}



.listt a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}






.fa-solid {
    padding: 32px 10px;
}

.red {
    width: 44%;
    background-color: #FF0000;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.notein {
    display: none;
}




.container {
    width: 70%;
    padding:30px;
    margin: auto;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.358);
    margin-top: 100px;
    border-radius: 20px;
}

.sliderimage {
    width: 96%;
    height: 480px;
    margin: auto;
    display: flex;

}

.sliderimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.sliderimage video{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.Vidioing video{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.minislider {
    width: 96%;
    margin: 2vw auto;
    background-color: #FF0000;
    display: flex;

}

.minislider img {
    width: 100%;
    height: 100%;
}

.magzes {
    width: 96%;
    height: fit-content;
    padding: 80px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    flex-wrap: wrap;
}

.cover {
    width: 250px;
    height: 380px;

}

.cover img {
    width: 100%;
    height: 100%;
}


.Vidioing {
    width: 70%;
    height: 380px;
    color: rgb(201, 169, 109);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: #000000aa;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.texting {
    width: 70%;
    text-align: center;
    height: 380px;
    color: rgb(201, 201, 201);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: #000000aa;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
.texting p{
    width: 70%;
    line-height: 30px;
}

.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96%;
    margin: auto;
}


.buyy {
    width: fit-content;
    margin: 20px auto 0;
    padding: 10px 30px;
    background-color: #FF0000;
    border-radius: 15px;
    font-size: 0.7vw;
}





.listt a:hover {
    color: yellow;
}

.menu {
    z-index: 10;

}

.menu:hover .listt {
    left: 0;
}

.hits {
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.hitings {
    width: 80%;
    position: relative;
    margin: 30px auto;
}

.hitings img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.listt .yellow{
    color: yellow;
}
.bsalot {
    display: flex;
    flex-direction: column;
    opacity: 0%;
    justify-content: center;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 50% 0, 30% 100%, 0% 100%);
    position: absolute;
    background-color: #00000096;
    text-align: center;
    transition: 0.2s;
}
.hitings:hover .bsalot{
    opacity: 100%;
}
.bottner button{
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}
.bottner{
  
    
}
.bsalot button:hover{
    letter-spacing: 5px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.067);
    transition: 0.1s ;
    color: white;
}
.bsalot p{
    color: white;
    font-weight: 900;
}
.conter{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.bsalot h1 {
    
    
 
    color: #FF0000;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



@media (max-width:750px) {
    .container {
        width: 100%;
    }
}

@media (max-width:1377px) {

    .magzes {
        justify-content: center;
        width: 100%;
    }

    .texting {
        font-size: 2vw;
        height: fit-content;
        width: 100%;
    }

    .holder {
        width: 100%;
    }

    .buyy {
        font-size: 1.4vw;
    }

}

@media (max-width:1320px) {

    .fa-bars {
        display: block;
        padding: 20px;
    }

    .listt {
        margin-top: 5px;
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        left: 100%;
        text-align: center;
        backdrop-filter: blur(30px);
    }

    .red i {
        opacity: 0;
        padding: 28px;

    }

    .logo {
        z-index: 2;
    }


}
@media (max-width:550px) {
    .hits{
        width: 100%;
    }
    .hitings{
        margin: 4vw;
    }
}